# example - 2

In [25]:
import numpy as np 
import pandas as pd

In [26]:
df = pd.read_excel("C:\\Users\\saurabh\\Desktop\\Newdat\\Water_Supply_Data.xlsx")

In [27]:
df.head()

,Connection ID,Location,Type,Connection Date,Water Source,Daily Consumption (Liters),Family Members,Monthly Bill,Status,Electric Bill (Status),Electric Bill
0,1001,jaipur (Zone 2),Residential,2023-01-15,Lake,200,2,1000,Active,Inactive,1500.0
1,1002,jaipur (Zone 1),Commercial,2022-08-20,Borewell,220,2,1100,Inactive,Inactive,1650.0
2,1003,jaipur (Zone 3),Industrial,2020-03-05,River,900,9,4500,Active,Active,6750.0
3,1004,jaipur (Zone 4),Residential,2021-11-10,Borewell,520,5,2600,Active,Inactive,3900.0
4,1005,jaipur (Zone 5),Residential,2022-06-12,Lake,250,2,1250,Inactive,Active,1875.0

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
lb = LabelEncoder()

In [30]:
df['Location'] = lb.fit_transform(df['Location'])
df['Type'] = lb.fit_transform(df['Type'])
df['Water Source'] = lb.fit_transform(df['Water Source'])

In [31]:
df.head()

,Connection ID,Location,Type,Connection Date,Water Source,Daily Consumption (Liters),Family Members,Monthly Bill,Status,Electric Bill (Status),Electric Bill
0,1001,2,2,2023-01-15,1,200,2,1000,Active,Inactive,1500.0
1,1002,1,0,2022-08-20,0,220,2,1100,Inactive,Inactive,1650.0
2,1003,3,1,2020-03-05,5,900,9,4500,Active,Active,6750.0
3,1004,4,2,2021-11-10,0,520,5,2600,Active,Inactive,3900.0
4,1005,5,2,2022-06-12,1,250,2,1250,Inactive,Active,1875.0

In [35]:
df.columns

Index(['Connection ID', 'Location', 'Type', 'Connection Date', 'Water Source',
       'Daily Consumption (Liters)', 'Family Members', 'Monthly Bill',
       'Status', 'Electric Bill (Status)', 'Electric Bill'],
      dtype='object')

In [36]:
df['Status'] = lb.fit_transform(df['Status'])

In [37]:
df['Electric Bill (Status)'] = lb.fit_transform(df['Electric Bill (Status)'])

In [38]:
df.head()

,Connection ID,Location,Type,Connection Date,Water Source,Daily Consumption (Liters),Family Members,Monthly Bill,Status,Electric Bill (Status),Electric Bill
0,1001,2,2,2023-01-15,1,200,2,1000,0,1,1500.0
1,1002,1,0,2022-08-20,0,220,2,1100,1,1,1650.0
2,1003,3,1,2020-03-05,5,900,9,4500,0,0,6750.0
3,1004,4,2,2021-11-10,0,520,5,2600,0,1,3900.0
4,1005,5,2,2022-06-12,1,250,2,1250,1,0,1875.0

In [39]:
df = df.drop(columns = ['Connection Date' , 'Connection ID' , 'Water Source' , 'Location' , 'Electric Bill (Status)' ] , axis = 1)

In [40]:
df.head()

,Type,Daily Consumption (Liters),Family Members,Monthly Bill,Status,Electric Bill
0,2,200,2,1000,0,1500.0
1,0,220,2,1100,1,1650.0
2,1,900,9,4500,0,6750.0
3,2,520,5,2600,0,3900.0
4,2,250,2,1250,1,1875.0

In [41]:
x = df.drop(columns = ['Electric Bill'] , axis = 1)  #Independent data 
y = df['Electric Bill']  #dependent data

In [43]:
from sklearn.model_selection  import train_test_split

In [44]:
x_train , x_test , y_train  ,y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [45]:
from sklearn.ensemble import RandomForestRegressor

In [46]:
rf = RandomForestRegressor()

In [47]:
rf.fit(x_train , y_train)

RandomForestRegressor()

In [48]:
y_pred = rf.predict(x_test)

In [49]:
from sklearn.metrics import r2_score

In [50]:
r2_score(y_test , y_pred)

0.9999509790017698

In [52]:
rf.feature_importances_

array([6.48520927e-06, 3.35261289e-01, 3.19809583e-01, 3.44921985e-01,
       6.57317555e-07])